@import url("font-awesome.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  overflow: -webkit-scrollbars-vertical;
  overflow: -o-scrollbars-vertical;
  /*background-color: #F1F1F1;*/
background-image: url(../img/stripe-g.png)
}

p {
  font-weight: 400;
  font-size: 1em !important;
  line-height: 2em !important;
  letter-spacing: .02em;
}

p.caption {
  font-weight: 400;
  font-size: .7em !important;
  line-height: 2em !important;
  letter-spacing: .05em;

}
p.arabic {
  line-height: 1.4em !important;
  font-size: 1.8em !important;
  color: #666;
  text-align: right;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.2em;
  letter-spacing: .03em;
  color: #333;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.3em;
  color: #c51231;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-top:1em;
  margin-bottom:.4em;
}

h4 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .08em;
  /*color: #859B91;*/
  color: #666666;
}

h5{
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #970517;
  padding-top: 5px;
  border-top: solid;
  border-width: 1px;
  border-color: #ccc;

}

h6{
   font-size: .8em;
}

#wrapper {
	position:relative;
	width: 950px;
	padding: 0 50px;
	margin: 0 auto;
	background: #FFF;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.25);
	box-shadow: 0 0 0px rgba(0,0,0,.25);
}

#wrapper2 {
	position:relative;
	width: 1050px;
	padding: 0 0px;
	margin: 0 auto;
	background: #FFF;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.25);
	box-shadow: 0 0 0px rgba(0,0,0,.25);
}
#topcolorbarA {
	position:relative;
	width: 1050px;
	height:3px;
	padding: 0 0px;
	margin: 0 auto;
	background: #c51231;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.25);
	box-shadow: 0 0 0px rgba(0,0,0,.25);
}
#topcolorbarB {
	position:relative;
	width: 1050px;
	height:12px;
	padding: 0 0px;
	margin: 0 auto;
	background: #393939;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,.25);
	box-shadow: 0 0 0px rgba(0,0,0,.25);
}
.well {
  background-color: #ffffff !important;
  border: 0px solid #ddd !important;
  border: 0px solid rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

.hero-unit {
  padding: 30px !important;
  margin-bottom: 30px !important;
  background-color: #F1F1F1 !important;
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}

.hero-unit p {
  font-weight: 400;
  font-size: 1em !important;
  line-height: 2em !important;
}



.avatar{
    border:0px solid #eee;
    padding:4px;
    margin:auto auto;
    width:248px;
    height:175px;
}

.avatar img{
    display:block;
    margin:auto auto;
    width:100%;
    height:100%;
}

img{
    border: 0px solid #ccc;
}

.top img{
    border:0px;
}

.bio{
   font-size: .9em !important;
    width:250px;
    margin:auto auto;
    text-align:left;
}

.no-radius{
    border-radius:0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.header{
    clear:both;
}

footer, footer p{
text-align:left;
}